<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-success">Cancel</button>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label for="name">name</label>
        <input type="text" id="name" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label for="imagePath">Image URL</label>
        <input type="text" id="imagePath" class="form-control">
      </div>
    </div>
    <div class="row">
      <img src="" alt="" class="img-responsive">
    </div>
    <div class="row">
      <div class="form-group">
        <label for="description">Description</label>
        <textarea rows='6' type="text" id="description" class="form-control"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="row">
          <div class="col-xs-8">
            <input type="text" class="form-control">
          </div>
          <div class="col-xs-2">
            <input type="text" class="form-control">
          </div>
          <div class="col-xs-2">
            <button class="btn btn-danger">X</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>